// CLCL Installer resource script.
//
#pragma code_page(65001)

#include "winres.h"

#include "instinfo.h"
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_ICON_MAIN           ICON                    "..\\res\\ico00001.ico"

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       RT_MANIFEST             "res\\manifest.xml"

/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//
// インストールするファイルをまとめたZIP (作成ツールが生成)
IDR_PAYLOAD             RCDATA                  "payload.zip"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//
// 表示する文字列はすべて実行時に文字列リソースから設定する

IDD_MAIN DIALOGEX 0, 0, 320, 206
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CLCL"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "", IDC_STATIC_TITLE, 12, 10, 296, 12
    LTEXT           "", IDC_STATIC_DESC, 12, 26, 296, 36
    LTEXT           "", IDC_STATIC_FOLDER, 12, 68, 296, 9
    EDITTEXT        IDC_EDIT_PATH, 12, 79, 216, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "", IDC_BUTTON_BROWSE, 236, 78, 72, 16
    CONTROL         "", IDC_CHECK_STARTUP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 104, 296, 10
    CONTROL         "", IDC_CHECK_STARTMENU, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 118, 296, 10
    CONTROL         "", IDC_CHECK_DESKTOP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 132, 296, 10
    CONTROL         "", IDC_CHECK_RUN, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 104, 296, 10
    CONTROL         "", IDC_PROGRESS, "msctls_progress32", WS_BORDER, 12, 152, 296, 10
    LTEXT           "", IDC_STATIC_STATUS, 12, 166, 296, 9
    DEFPUSHBUTTON   "", IDOK, 156, 180, 72, 15
    PUSHBUTTON      "", IDCANCEL, 236, 180, 72, 15
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION INST_VER_MAJOR,INST_VER_MINOR,INST_VER_REVISION,0
 PRODUCTVERSION INST_VER_MAJOR,INST_VER_MINOR,INST_VER_REVISION,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "CLCL Installer"
            VALUE "FileVersion", INST_FILE_VERSION_STR
            VALUE "InternalName", INST_FILE_NAME
            VALUE "LegalCopyright", "Copyright (C) 1996-2026 by Ohno Tomoaki. All rights reserved."
            VALUE "OriginalFilename", INST_FILE_NAME
            VALUE "ProductName", "CLCL"
            VALUE "ProductVersion", INST_FILE_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// English
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US


STRINGTABLE
BEGIN
    IDS_SETUP_TITLE         "CLCL Setup"
    IDS_UNINSTALL_TITLE     "CLCL Uninstall"
    IDS_HEADER              "CLCL Ver %s"
    IDS_DESC_INSTALL        "CLCL will be installed on your computer.\nChoose the destination folder and the options, then click [Install]."
    IDS_DESC_UPDATE         "CLCL is already installed.\nCheck the destination folder and the options, then click [Update]."
    IDS_DESC_COMPLETE       "CLCL has been installed successfully."
    IDS_FOLDER              "&Destination folder:"
    IDS_BROWSE              "&Browse..."
    IDS_CHECK_STARTUP       "Add to Windows &startup"
    IDS_CHECK_STARTMENU     "Create a shortcut in the Start &menu"
    IDS_CHECK_DESKTOP       "Create a shortcut on the &desktop"
    IDS_CHECK_RUN           "&Run CLCL"
    IDS_BUTTON_INSTALL      "&Install"
    IDS_BUTTON_UPDATE       "&Update"
    IDS_BUTTON_CANCEL       "Cancel"
    IDS_BUTTON_FINISH       "&Finish"
    IDS_SELECT_FOLDER       "Select the destination folder."
    IDS_STATUS_EXTRACT      "Copying files..."
    IDS_STATUS_SHORTCUT     "Creating shortcuts..."
    IDS_STATUS_REGIST       "Registering the application..."
    IDS_CONFIRM_CANCEL      "Do you want to cancel the installation?"
    IDS_CONFIRM_UNINSTALL   "CLCL will be uninstalled.\nAre you sure?"
    IDS_CONFIRM_DELETE_DATA "Do you also want to delete the settings and history data?"
    IDS_UNINSTALL_COMPLETE  "CLCL has been uninstalled successfully."
    IDS_ERR_PATH_EMPTY      "Enter the destination folder."
    IDS_ERR_PAYLOAD         "Failed to read the files to install."
    IDS_ERR_CREATE_DIR      "Failed to create the folder.\n%s"
    IDS_ERR_EXTRACT         "Failed to extract the file.\n%s"
    IDS_ERR_REGIST          "Failed to register the application."
    IDS_ERR_NOT_INSTALLED   "CLCL is not installed."
    IDS_ERR_RUN             "Failed to start CLCL."
    IDS_RUNNING             "CLCL is running.\nExit CLCL, and then click [Retry]."
    IDS_FILE_LOCKED         "Failed to update the file.\n%s\n\nIf CLCL is running, exit CLCL and then click [Retry]."
END

// Russian
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT


STRINGTABLE
BEGIN
    IDS_SETUP_TITLE         "Установка CLCL"
    IDS_UNINSTALL_TITLE     "Удаление CLCL"
    IDS_HEADER              "CLCL версии %s"
    IDS_DESC_INSTALL        "CLCL будет установлен на компьютер.\nВыберите папку и параметры, затем нажмите [Установить]."
    IDS_DESC_UPDATE         "CLCL уже установлен.\nПроверьте папку и параметры, затем нажмите [Обновить]."
    IDS_DESC_COMPLETE       "CLCL успешно установлен."
    IDS_FOLDER              "&Папка установки:"
    IDS_BROWSE              "&Обзор..."
    IDS_CHECK_STARTUP       "Запускать при &входе в Windows"
    IDS_CHECK_STARTMENU     "Создать ярлык в меню &Пуск"
    IDS_CHECK_DESKTOP       "Создать ярлык на &рабочем столе"
    IDS_CHECK_RUN           "&Запустить CLCL"
    IDS_BUTTON_INSTALL      "&Установить"
    IDS_BUTTON_UPDATE       "&Обновить"
    IDS_BUTTON_CANCEL       "Отмена"
    IDS_BUTTON_FINISH       "&Готово"
    IDS_SELECT_FOLDER       "Выберите папку установки."
    IDS_STATUS_EXTRACT      "Копирование файлов..."
    IDS_STATUS_SHORTCUT     "Создание ярлыков..."
    IDS_STATUS_REGIST       "Регистрация приложения..."
    IDS_CONFIRM_CANCEL      "Отменить установку?"
    IDS_CONFIRM_UNINSTALL   "CLCL будет удалён.\nПродолжить?"
    IDS_CONFIRM_DELETE_DATA "Удалить также настройки и историю?"
    IDS_UNINSTALL_COMPLETE  "CLCL успешно удалён."
    IDS_ERR_PATH_EMPTY      "Укажите папку установки."
    IDS_ERR_PAYLOAD         "Не удалось прочитать файлы для установки."
    IDS_ERR_CREATE_DIR      "Не удалось создать папку.\n%s"
    IDS_ERR_EXTRACT         "Не удалось извлечь файл.\n%s"
    IDS_ERR_REGIST          "Не удалось зарегистрировать приложение."
    IDS_ERR_NOT_INSTALLED   "CLCL не установлен."
    IDS_ERR_RUN             "Не удалось запустить CLCL."
    IDS_RUNNING             "CLCL запущен.\nЗакройте CLCL и нажмите [Повторить]."
    IDS_FILE_LOCKED         "Не удалось обновить файл.\n%s\n\nЕсли CLCL запущен, закройте его и нажмите [Повторить]."
END
